{% extends "base.html" %}

{% block content %}
  {% if request.path == '/' %}
    {% if not authed() %}
    <div id="login-hero">
      <div class="container">
        <div>
          <div class="principal-container">
            {% include "components/errors.html" %}

            <div id="principal-info" class="d-flex align-items-start">
              <h1 class="red-text text-uppercase welcome-text">Bienvenido al CTF <br> <span class="text-light first-welcome">NGIS CTF 2026</span> <br><span class="subtitle-text">Cyber Range Experience</span></h1>
            </div>

            <hr class="line-welcome">

            <div>
              <p class="text-uppercase">Aprende, compite, protégete</p>
            </div>

            <div>
              <p>Pon a prueba tus habilidades en cibeserguridad resolviendo retos reales en diferentes categorias.</p>
              <p>¿Estás listo para entrar al Cyber Range?</p>
            </div>

            <div>
              <p class="text-uppercase">Información del evento</p>
            </div>

            <div>
              <p>Clasificación en vivo</p>
            </div>

            <div>
              <p>Tiempo restante</p>

              <p>Banderas capturadas</p>
            </div>

            {% with form = Forms.auth.LoginForm() %}
              <form method="post" action="{{ url_for('auth.login') }}" accept-charset="utf-8">
                <div class="mb-3">
                  <b>{{ form.name.label(class="form-label") }}</b>
                  {{ form.name(class="form-control", autocomplete="username email") }}
                </div>

                <div class="mb-3">
                  <b>{{ form.password.label(class="form-label") }}</b>
                  {{ form.password(class="form-control", autocomplete="current-password") }}
                </div>

                <div class="row pt-3">
                  <div class="col-6 col-md-8">
                    <a class="align-middle" href="{{ url_for('auth.reset_password') }}">
                      {% trans %}Forgot your password?{% endtrans %}
                    </a>
                  </div>
                  <div class="col-6 col-md-4">
                    {{ form.submit(class="btn btn-block btn-primary w-100") }}
                  </div>
                </div>

                {{ form.nonce() }}
              </form>
            {% endwith %}
          </div>
        </div>
      </div>
    </div>
    {% endif %}

  {% else %}

  {% endif %}
{% endblock %}

{% block scripts %}
  {{ Assets.js("assets/js/page.js") }}
{% endblock %}